@keyframes move-left {
  0% {
    color: black;
  }
  50% {
    color: white;
  }
  100% {
    color: black;
    margin-right: 120px;
  }
}
@keyframes move-right {
  0% {
    color: black;
  }
  50% {
    color: white;
  }
  100% {
    color: black;
    margin-left: 120px;
  }
}
@keyframes appear {
  from {
    color: white;
    visibility: hidden;
  }
  to {
    color: black;
    visibility: visible;
  }
}

@keyframes increase {
  0% {
    border: none;
    border-left: 6px solid black;
  }
  50% {
    border-top: 6px solid black;
  }
  100% {
    border-right: 6px solid black;
  }
}

@keyframes spin {
  100% {
    color: black;
    transform: rotate(1turn);
    visibility: visible;
  }
}
@keyframes waves {
  0% {
    transform: translateX(-60px);
  }
  50% {
    transform: translatex(0px);
  }
  100% {
    transform: translateX(-60px);
  }
}

@keyframes movement {
  0%,
  100% {
    height: 100px;
    background-color: white;
  }
  50% {
    height: 50px;
    background-color: black;
  }
}
@keyframes begin {
  0% {
    transform: translate(8px, 8px);
    box-shadow: none;
  }
  100% {
    transform: translate(0px, 0px);
    box-shadow: 8px 8px 8px rgb(153, 153, 153);
    border: 1px solid black;
  }
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  bottom: 100px;
  width: 80vw;
  height: 80vh;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8em;
  font-weight: 700;
  /* background-image: url("https://images.theconversation.com/files/223729/original/file-20180619-126566-1jxjod2.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=1200.0&fit=crop"); */
  background: #5a5a5a;
  background-size: contain;
  border-radius: 0.5em;
  overflow: hidden;
  animation: 1s begin 0.4s both;
}

.container .item {
  transform: translateY(-50px);
}

.container .item .J {
  animation: 1s move-left 0.8s both;
  transition: color 1s;
}

.container .item .S {
  animation: 1s move-right 0.8s both;
}

.container .item.MM {
  position: absolute;
  visibility: hidden;
  animation: 0.5s appear 1.3s both;
}

.spinner {
  position: absolute;
  bottom: 150px;
  width: 75px;
  aspect-ratio: 1;
  visibility: hidden;
  border-top: 6px solid;
  border-color: black;
  border-radius: 100%;
  animation: spin 2s ease infinite;
  /* increase 2s cubic-bezier(0.1, -0.6, 0.2, 0) infinite; */
}

.bars {
  position: absolute;
  bottom: 100px;
  width: 15vw;
  height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  visibility: hidden;
  animation: 1.5s appear 2s both;
}

.bar {
  width: 10px;
  height: 50px;
  background: white;
  border-radius: 999px;
  animation: movement 1s linear infinite;
}

.bar:nth-child(1),
.bar:nth-child(11) {
  animation-delay: 1.6s;
  /* animation-delay: 0.6s; */
}
.bar:nth-child(2),
.bar:nth-child(10) {
  animation-delay: 1.4s;
  /* animation-delay: 0.8s; */
}
.bar:nth-child(3),
.bar:nth-child(9) {
  animation-delay: 1.2s;
  /* animation-delay: 1s; */
}
.bar:nth-child(4),
.bar:nth-child(8) {
  animation-delay: 1s;
  /* animation-delay: 1.2s; */
}
.bar:nth-child(5),
.bar:nth-child(7) {
  animation-delay: 0.8s;
  /* animation-delay: 1.4s; */
}
.bar:nth-child(6) {
  animation-delay: 0.6s;
  /* animation-delay: 1.6s; */
}
.bar:hover {
  animation: none;
}
